* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100px;

  background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg");
  /* backface-visibility: visible; */
  /* background-position: inherit; */
  background-size: cover;
  background-repeat: no-repeat;
}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  /* color: rgb(54, 189, 24); */
}

#temp {
  text-align: center;
}

#temp #temp-unit {
  font-family: sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
}
#temp #temp-value {
  font-family: sans-serif;
  font-size: 2rem;
  color: #ffffff;
}
#climate {
  font-family: sans-serif;
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
}
#location {
  font-family: sans-serif;
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
}

#temp-icon {
  margin: 1rem;
  width: 40%;
  height: auto;
}

main {
  padding: 20px;
  margin-top: 10px;
  background-color: #6b778d;
  border-radius: 20px;
  width: 360px;
  height: 360px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 20px 10px rgba(112, 102, 102, 0.2);
}

#search-button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: white;
  border-radius: 5px;
  margin-left: 5px;
  padding: 11px;
  border: 2px solid #494949;
  display: inline-block;
  cursor: pointer;
}
#search-button:hover {
  color: #ffffff;
  background: #ff6768;
  border-color: #ff6768;
  transition: all 0.4s ease 0s;
}

#search-input {
  width: 260px;
  overflow: hidden;
  font-size: 20px;
  margin: 8px 0;
  padding: 8px 0;
  border-bottom: 3px solid #ff6768;
  color: rgb(255, 255, 255);
  outline: none;
  background: none;
}
input {
  border: none;
}
